.table {
  border: 1px solid black;
  margin: auto;
  margin-top: 5%;
  background-color: aqua;
  height: 40vh;
  width: 60vw;
  text-align: center;
}

.data {
  border: 1px solid black;
  padding: 1%;
  margin: 25%;
  width: 10%;
}

.activeData {
  border: 1px solid black;
  padding: 1%;
  margin: 25%;
  width: 10%;
  background-color: aquamarine;
}
